

<!-- <p *ngFor= 'let quote of quotes'>Quote of the day is '{{quote.quote}}'</p>
<button type="button" name="showmore">Show more about this quote</button> -->
  <div>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  </div>
  <div class="container-fluid">
    <div class="card-deck">
      <div *ngFor='let quote of quotes; let i= index' class="card">
        <div class="card-body">
          <p>'{{quote.quote}}'</p>
          <p>posted {{quote.timePassed|timeCount}}</p>
            <button  (click)='author(i); submitter(i)'>Show more about this quote</button>
            <button type="button" name="like" (click)='like(quote)'>Like</button>
            <button type="button" name="unlike" (click)='hate(quote)'>Unlike</button>
            <app-display-quote-details *ngIf= "quote.showAuthor" [quote]='quote' (eliminate)='clearQuote($event, i)'></app-display-quote-details>
        </div>
        </div>
        <div>
          <!-- <app-quote-form (addGoal)="addNewGoal($event)"></app-quote-form> -->
        </div>

    </div>

    </div>
