<link href="https://fonts.googleapis.com/css?family=Belleza|Berkshire+Swash" rel="stylesheet">
<div class="jumbotron">
  <!-- Just an image -->
<nav class="navbar">
    <img src="https://pbs.twimg.com/profile_images/601806103748292608/ZNJrNntN.jpg" width="50" height="50" alt="">
    <h1>QuoteFire</h1>
    <h2>Inspiring the world, everyday</h2>
    <div class="buttons">
      <ul>
        <li><a href="#form-section" class="btn btn-outline-dark" id="new">New Quote</a></li>
        <li><a href="#dashboard" class="btn btn-outline-dark" id="newer">My Quotes</a></li>
        <li><a href="#" class="btn btn-outline-dark" id="newest">Top Quote</a></li>
      </ul>
    </div>
</nav>

</div>
