<link href="https://fonts.googleapis.com/css?family=Belleza|Berkshire+Swash" rel="stylesheet">
<div class="jumbotron">
  <!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://pbs.twimg.com/profile_images/601806103748292608/ZNJrNntN.jpg" width="40" height="40" alt="">
    <div class="buttons">
      <button class="btn btn-outline bg-dark my-2 my-sm-0" type="submit"><<a href="quote-form.component.html">New Quote</a></button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">My Quotes</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Top Quote</button>
    </div>
  </a>
</nav>
  <h1>QuoteFire</h1>
  <h2>Inspiring the world, everyday</h2>
</div>
