@import "~bootstrap/dist/css/bootstrap.css";
body {
background-image: url('https://images.pexels.com/photos/34534/people-peoples-homeless-male.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;

}
