<link href="https://fonts.googleapis.com/css?family=Belleza|Berkshire+Swash|Niconne|Satisfy" rel="stylesheet">
<div class="container-fluid">
      <form  (ngSubmit) = 'submitQuote()' #quoteForm='ngForm' id="form">
        <div class="row">
          <div class="col-md-6">
           <textarea name="quote" id ="quote" rows="8" cols="50"  placeholder="Enter quote here" required [(ngModel)]="newQuote.quote" name="quote" #quote= "ngModel"></textarea><br><br>
           <div [hidden]= "quote.valid||quote.pristine" class="alert alert-danger">
             <p>Please enter quote</p>
           </div>
         </div>
         <div class="col-md-6">
           <input type="text" name="author" placeholder="Name of author" required [(ngModel)]="newQuote.author" name="author" #author= "ngModel" ><br><br>
           <div [hidden]= "author.valid||author.pristine" class="alert alert-danger">
             <p>Please enter quote</p>
           </div>
           <input type="text" name="submitter" placeholder="QuoteFire username" required [(ngModel)]="newQuote.submitter" name="submitter" #submitter= "ngModel"><br><br>
           <div [hidden]= "submitter.valid||submitter.pristine" class="alert alert-danger">
             <p>Please enter quote</p>
           </div>
           <!-- <input type="date" name="date" placeholder="Time" required ><br><br> -->
         <button type="submit">Submit quote</button><br><br>
         <button type="reset" name="button">New Vote</button>

         </div>
        </div>
      </form>



</div>
